<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <title>Productos</title>
    <link rel="stylesheet" href="/css/products.css" />
    <body>
        <%- include('./partials/header') %>
            <main>
                <div>
                    <h1>Productos</h1>
                </div>
                <div class="filter">
                    <label for="filter">Mostrar: </label>
                    <select name="filter" id="filter">
                        <option value="">Todos</option> 
                        <option value="torta">Tortas</option>
                        <option value="masa-dulce">Masas dulces</option>
                    </select>
                </div>
                <div class="producto-container">
                    <% products.forEach(function(product){ %>
                        <section class="producto" id="<%= product.product_type %>">
                            <a href="/products/details/<%= product.id %>">
                                <figure>
                                    <img class="producto-imagen" src="/images/products/<%= product.image %>" alt="imagen">
                                </figure>
                                <article>
                                    <h2>
                                        <%= product.product_name %>
                                    </h2>
                                    <% if(product.discount == 0) { %>
                                        <p id="price">$<%= product.price %></p>
                                    <% } else { %>
                                        <p id="price-old">$<%= product.price %></p>
                                        <p id="price">$<%= product.price - (product.price * (product.discount/100)) %></p>
                                    <% }%>
                                </article>
                            </a>
                        </section>
                        <% }) %>
                </div>
            </main>
            <%- include('./partials/footer') %>
            <script src="/js/productsAll.js"></script>
    </body>
</html>