<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/product-detail.css">
    <body>
        <%- include('./partials/header') %>
        <div class="detail-container">
            <div class="detail-info" id="detail-info-left">
                <img class="product-image" src="/images/products/<%= product.image %>" alt="imagen">
                <span>Precio: $<%= product.price %></span>
                <span>Descuento: <%= product.discount %>%</span>
            </div>
            <div class="detail-info" id="detail-info-right">
                <div class="detail-info-child">
                    <span><%= product.product_name %></span>
                    <span><%= product.product_description %></span>
                </div>
                <div class="options">
                    <span>Cantidad: <input type="number" value="1"></span>
                    <button>Agregar al carrito</button>
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button type="submit">BORRAR</button>
                    </form>
                    <a href="/products/edit/<%= product.id %>"><button>EDITAR</button></a>
                </div>
            </div>
        </div>
        <div class="related-container">
            <h2 class="related-title">Productos Relacionados</h2>
            <div class="related-content">
                <% results=0, i=0 %>
                <% while(results<=2 && i<products.length) { %>
                    <% if((product.product_type == products[i].product_type) && (product.id != products[i].id)){ %>
                        <div class="related-product">
                            <img class="related-image" src="/images/products/<%= products[i].image %>" alt="imagen">
                            <a href="/products/details/<%= products[i].id %>">
                                <p class="related-name"><%= products[i].product_name %></p>
                                <p class="related-price">$<%= products[i].price %></p>
                            </a>
                        </div>
                        <% results++ %>
                        <% i++ %>
                    <% } else { %>
                        <% i++ %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <%- include('./partials/footer') %>
    </body>
</html>