<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/product-create.css">
    <title>Editar Producto</title>
    <body>
        <main>
            <h1>Editar un Producto</h1>
            <form action="/products/edit/<%= product.id %>?_method=PUT" enctype="multipart/form-data" method="POST" class="form">
                <label for="nombre"></label>
                <input type="text" id="nombre" name="nombre"  value="<%= locals.oldData && oldData.nombre ? oldData.nombre : product.product_name %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.nombre){ %>
                        <small><%= errors.nombre.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsFront">

                </div>
                <label for="precio"></label>
                <input type="number" id="precio" name="precio"  value="<%= locals.oldData && oldData.precio ? oldData.precio : product.price %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.precio){ %>
                        <small><%= errors.precio.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsFront">

                </div>
                <label for="descuento"></label>
                <input type="number" id="descuento" name="descuento"  value="<%= locals.oldData && oldData.descuento ? oldData.descuento : product.discount %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.descuento){ %>
                        <small><%= errors.descuento.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsFront">

                </div>
                <div class="text-area">
                    <label for="descripcion"></label>
                    <textarea name="descripcion" id="descripcion" cols="50" rows="5"  ><%= locals.oldData && oldData.descripcion ? oldData.descripcion : product.product_description %></textarea>
                    <div class="errorsBack">
                        <% if (locals.errors && errors.descripcion){ %>
                            <small><%= errors.descripcion.msg %></small>
                        <% } %>
                    </div>
                    <div class="errorsFront">

                    </div>
                    <label for="ingredientes"></label>
                    <textarea name="ingredientes" id="ingredientes" cols="50" rows="5"  ><%= locals.oldData && oldData.ingredientes ? oldData.ingredientes : product.ingredients %></textarea>
                    <div class="errorsBack">
                        <% if (locals.errors && errors.ingredientes){ %>
                            <small><%= errors.ingredientes.msg %></small>
                        <% } %>
                    </div>
                    <div class="errorsFront" id="errorsFront">

                    </div>
                </div>

                <div class="carga-imagen">
                    <label for="imagen"></label>
                    <input type="file" id="imagen" name="imagen" >
                </div>
                <div class="errorsBack">
                    <% if (locals.errors && errors.imagen){ %>
                        <small><%= errors.imagen.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsFront">

                </div>
                <div class="tipo">
                    <label for="tipo"></label>
                    <select name="tipo" id="tipo" >
                        <option value="torta">Torta</option>
                        <option value="masa-dulce">Masa Dulce</option>
                    </select>
                </div>
                <div class="errorsBack">
                    <% if (locals.errors && errors.tipo){ %>
                        <small><%= errors.tipo.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsFront">

                </div>
                <label for="stock"></label>
                <input type="number" id="stock" name="stock"  value="<%= locals.oldData && oldData.stock ? oldData.stock : product.stock %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.stock){ %>
                        <small><%= errors.stock.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsFront">

                </div>
                <div class="button-options">
                    <button type="submit" class="option">Guardar cambios</button>
                    <a href="/" class="button">Volver</button></a>
                </div>
            </form>
        </main>
        <script src="/js/productCreateEdit.js"></script>
    </body>
</html>