<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <body>
        <div class="titulo-principal">
        <h1>SAN RAFAEL</h1>
        </div>
        <link rel="stylesheet" href="/css/index.css"/>
        <%- include('./partials/header') %>
        <main>
            <div class="container">
                <div class="row">
                    <div>
                        <h1>Productos</h1>
                    </div>
                    <% products.forEach(function(product){ %>
                        <div>
                            <section>
                                <a href="/products/details/<%= product.id %>">
                                    <figure>
                                        <img src="<%= product.image %>" alt="image">
                                    </figure>
                                    <article>
                                        <h2><%= product.name %></h2>
                                        <span><%= product.price %></span>
                                    </article>
                                </a>
                            </section>
                        </div>
                    <% }) %>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </body>