<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Inicio de sesión</title>
    <body>
        <main>
            <h1>Inicio de sesión</h1>
            <form action="/user/login" method="POST" class="form">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required value="<%= locals.oldData && oldData.email ? oldData.email : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.email){ %>
                        <small><%= errors.email.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront">

                </div>
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Contraseña" required value="<%= locals.oldData && oldData.password ? oldData.password : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.password){ %>
                        <small><%= errors.password.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront">

                </div>
                <div class="rememberme">
                    <label for="rememberme">Recuérdame:
                        <input type="checkbox" id="rememberme" name="rememberme">
                    </label>
                </div>
                <div class="password-recover">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="button-options">
                    <button type="submit" class="option">Iniciar sesión</button>
                    <a href="/" class="button">Volver</button></a>
                </div>
                <small class="signup-message">¿No tenés una cuenta? <a href="/user/signUp">Crear una cuenta</a></small>
            </form>
        </main>
        <script src="/js/userAccess.js"></script>
    </body>
</html>
