<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css" />
    <title>Registro de Usuario</title>
    <body>
        <main>
            <h1>Registro de Usuario</h1>
            <form action="/user/register" method="POST" enctype="multipart/form-data" class="form">
                <label for="nombre"></label>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required value="<%= locals.oldData && oldData.nombre ? oldData.nombre : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.nombre){ %>
                        <small><%= errors.nombre.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront">

                </div>
                <label for="apellido"></label>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido" required value="<%= locals.oldData && oldData.apellido ? oldData.apellido : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.apellido){ %>
                        <small><%= errors.apellido.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront">

                </div>    
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" required value="<%= locals.oldData && oldData.email ? oldData.email : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.email){ %>
                        <small><%= errors.email.msg %></small>
                    <% } %> 
                </div>
                <div class="errorsFront">

                </div>   
                <label for="domicilio"></label>
                <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required value="<%= locals.oldData && oldData.domicilio ? oldData.domicilio : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.domicilio){ %>
                        <small><%= errors.domicilio.msg %></small>
                    <% } %> 
                </div>
                <div class="errorsFront">

                </div>   
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Contraseña" required value="<%= locals.oldData && oldData.password ? oldData.password : '' %>">
                <div class="errorsBack">
                    <% if (locals.errors && errors.password){ %>
                        <small><%= errors.password.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront" id="errorsPassword">

                </div>
                <div class="carga-imagen">
                    <label for="imagen"></label>
                    <input type="file" name="imagen" id="imagen" required>
                </div>
                <div class="errorsBack">
                    <% if (locals.errors && errors.imagen){ %>
                        <small><%= errors.imagen.msg %></small>
                    <% } %>
                </div>
                <div class="errorsFront">

                </div>
                <div class="button-options">
                    <button type="submit" class="option">Crear cuenta</button>
                    <a href="/" class="button">Volver</button></a>
                </div>
                <small class="login-message">¿Ya tenés una cuenta? <a href="/user/logIn">Iniciar sesión</a></small>
            </form>
        </main>
        <script src="/js/userRegistration.js"></script>
    </body>
</html>